# Python en pocos pasos

Este no es un overview completo de Python o de programación.

**Este notebook es simplemente una referencia del código que necesitaremos más adelante**

Este notebook contine los siguientes tópicos en el orden que se indica:

* Tipos de datos
    * Números
    * Cadenas
    * Impresión
    * Listas
    * Diccionarios
    * Booleanos
    * Tuplas 
    * Conjuntos
* Operadores de comparación
* Sentencias if,elif, else
* Bucles for
* Bucles while
* range()
* listas por comprensión
* funciones
* expresiones lambda
* map y filter
* métodos
____

## Tipos de Datos

### Números

In [2]:
1+2

3

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
5 // 2

2

In [5]:
2 ** 4

16

In [6]:
4 % 2

0

In [7]:
5 % 2

1

In [8]:
(2 + 3) * (5 + 5)

50

### Asignación de variables

In [9]:
# No puede comenzar con números o caracteres especiales
nombre_de_variable = 2

In [10]:
x = 2
y = 3

In [11]:
z = x + y

In [12]:
z

5

### Cadenas

In [13]:
'comillas simples'

'comillas simples'

In [14]:
"comillas dobles"

'comillas dobles'

In [15]:
"envolver otras 'citas'"

"envolver otras 'citas'"

In [16]:
'envolver otras "citas"'

'envolver otras "citas"'

### Impresión

In [17]:
x = 'hola'

In [18]:
x

'hola'

In [19]:
print(x)

hola

In [20]:
numero = 12
nombre = 'Samuel'

In [21]:
print('Mi número es: {uno}, y mi nombre es: {dos}'.format(uno=numero,dos=nombre))

Mi número es: 12, y mi nombre es: Samuel

In [22]:
print('Mi número es: {}, y mi nombre es: {}'.format(numero,nombre))

Mi número es: 12, y mi nombre es: Samuel

In [8]:
numero=12
nombre="Samuel"
print(f'Version2: Mi numero es {numero} y mi nombre es {nombre}')

Version2: Mi numero es 12 y mi nombre es Samuel

### Listas

In [23]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [39]:
mi_lista = ['a','b','c']

In [40]:
mi_lista.append('d')

In [41]:
mi_lista

['a', 'b', 'c', 'd']

In [27]:
mi_lista[0]

'a'

In [28]:
mi_lista[1]

'b'

In [29]:
mi_lista[1:]

['b', 'c', 'd']

In [30]:
mi_lista[:1]

['a']

In [42]:
mi_lista[0] = 'NUEVO'

In [43]:
mi_lista

['NUEVO', 'b', 'c', 'd']

In [44]:
mi_lista.pop(1)
mi_lista

['NUEVO', 'c', 'd']

In [45]:
mi_lista.remove('c')
mi_lista

['NUEVO', 'd']

In [47]:
anidado = [1,2,3,[4,5,['objetivo']]]

In [48]:
anidado[3]

[4, 5, ['objetivo']]

In [49]:
anidado[3][2]

['objetivo']

In [50]:
anidado[3][2][0]

'objetivo'

### Diccionarios

In [51]:
d = {'clave1':'valor1','clave2':'valor2'}

In [52]:
d

{'clave1': 'valor1', 'clave2': 'valor2'}

In [53]:
d['clave1']

'valor1'

In [54]:
d['clave1'] = 'valor3'

In [55]:
d

{'clave1': 'valor3', 'clave2': 'valor2'}

In [56]:
d['clave3']='valor1'

In [58]:
d

{'clave1': 'valor3', 'clave2': 'valor2', 'clave3': 'valor1'}

In [59]:
del d['clave1']

In [60]:
d

{'clave2': 'valor2', 'clave3': 'valor1'}

### Booleanos

In [61]:
True

True

In [62]:
False

False

### Tuplas

In [63]:
t = (1,2,3,'a')

In [64]:
t

(1, 2, 3, 'a')

In [65]:
t[0]

1

In [66]:
t[0] = 'NUEVO'

TypeError: 'tuple' object does not support item assignment

### Conjuntos

In [67]:
{1,2,3}

{1, 2, 3}

In [68]:
conj = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
conj

{1, 2, 3}

In [71]:
conj.add('d')
conj

{1, 2, 3, 4, 7, 'd'}

In [72]:
conj.remove(2)
conj

{1, 3, 4, 7, 'd'}

## Operadores de comparación

In [73]:
1 > 2

False

In [74]:
1 < 2

True

In [75]:
1 >= 1

True

In [76]:
1 <= 4

True

In [88]:
1 == 1

True

In [77]:
'hola' == 'adios'

False

## Operadores Lógicos

In [78]:
(1 > 2) and (2 < 3)

False

In [79]:
(1 > 2) or (2 < 3)

True

In [80]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Sentencias if,elif, else

In [87]:
if 1 < 2:
    print('!Hola¡')

!Hola¡

In [9]:
if 1 < 2:
    print('primero')
else:
    print('último')

primero

In [84]:
if 1 > 2:
    print('primero')
else:
    print('último')

último

In [85]:
if 1 == 2:
    print('primero')
elif 3 == 3:
    print('medio')
else:
    print('último')

medio

## Bucles for

In [88]:
seq = [1,2,3,4,5]

In [89]:
for item in seq:
    print(item)

1
2
3
4
5

In [90]:
for item in seq:
    print('Hola')

Hola
Hola
Hola
Hola
Hola

In [91]:
for x in seq:
    print(x+x)

2
4
6
8
10

## Bucles while

In [92]:
i = 1
while i < 5:
    print('i es: {}'.format(i))
    i = i+1

i es: 1
i es: 2
i es: 3
i es: 4

## range()

In [93]:
range(5)

range(0, 5)

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [96]:
list(range(3,5))

[3, 4]

## listas por comprensión

In [98]:
x = [1,2,3,4]

In [99]:
salida = []
for item in x:
    salida.append(item**2)
print(salida)

[1, 4, 9, 16]

In [103]:
salida2 = [item**2 for item in x]
print(salida2)

[1, 4, 9, 16]

## funciones

In [104]:
def mi_func(param1='defecto'):
    """
    Docstring goes here.
    """
    print(param1)

In [105]:
mi_func

In [106]:
mi_func()

defecto

In [107]:
mi_func('nuevo parámetro')

nuevo parámetro

In [108]:
mi_func(param1='nuevo parámetro')

nuevo parámetro

In [109]:
def cuadrado(x):
    return x**2

In [113]:
salida = cuadrado(3)

In [114]:
print(salida)

9

## expresiones lambda

In [115]:
def por2(var):
    return var*2

In [116]:
por2(2)

4

In [117]:
lambda var: var*2

## map y filter

In [83]:
seq = [1,2,3,4,5]

In [118]:
map(por2,seq)

In [119]:
list(map(por2,seq))

[2, 4, 6, 8, 10]

In [120]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [121]:
filter(lambda item: item%2 == 0,seq)

In [122]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## métodos

In [123]:
st = 'Hola mi nombre es Sam'

In [124]:
st.lower()

'hola mi nombre es sam'

In [125]:
st.upper()

'HOLA MI NOMBRE ES SAM'

In [126]:
st.split()

['Hola', 'mi', 'nombre', 'es', 'Sam']

In [127]:
tweet = '¡Arriba Perú! #Deportes'

In [128]:
tweet.split('#')

['¡Arriba Perú! ', 'Deportes']

In [129]:
tweet.split('#')[1]

'Deportes'

In [130]:
d

{'clave2': 'valor2', 'clave3': 'valor1'}

In [131]:
d.keys()

dict_keys(['clave2', 'clave3'])

In [132]:
d.items()

dict_items([('clave2', 'valor2'), ('clave3', 'valor1')])

In [133]:
lst = [1,2,3]

In [134]:
lst.pop()

3

In [135]:
lst

[1, 2]

In [136]:
'x' in [1,2,3]

False

In [137]:
'x' in ['x','y','z']

True

# ¡Excelente!